<?xml version="1.0"?>

<model>
  <name>office_chair</name>
  <version>1.0</version>

  <sdf version="1.10">
    model.sdf
  </sdf>

  <author>
    <name>Workcell</name>
    <email>robotics@example.com</email>
  </author>

  <description>
    Reusable office chair (seat + backrest + 4 legs).
  </description>
</model>
